<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<% if @companies.blank? %>
  <p>No Duplicates dude! </p>
<% else %>
  <%= render "index_table"  %>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
